body {
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-blur, .btn-blur {
  background-color: #ffffff33;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  box-shadow: 0 0 10px 1px #bbbbbbbb !important;
}

.form-control, .form-control:focus, .dropdown-menu, .table {
  background-color: #ffffff33;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px 1px #bbbbbbbb !important;
  border-radius: 15px;
}

.btn-blur:hover {
  
}

*:focus {
  outline-color: #bbbbbbbb;
}

.dropdown-item:active {
  color: black;
  outline-color: #fffb;
  background-color: #fffb;
}

th, td {
  padding: 0.8rem !important;
}